<component name="ArtifactManager">
  <artifact type="war" name="spring_06_di_constructor:war">
    <output-path>$PROJECT_DIR$/../spring_06_di_constructor/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>false</exploded>
        <module>spring_06_di_constructor</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="archive" name="spring_06_di_constructor-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring_06_di_constructor:war exploded" />
    </root>
  </artifact>
</component>