<component name="ArtifactManager">
  <artifact type="war" name="spring_24_case_transfer (1):war">
    <output-path>$PROJECT_DIR$/../spring_25_case_transfer_log/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>false</exploded>
        <module>spring_24_case_transfer (1)</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="archive" name="spring_25_case_transfer_log-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring_24_case_transfer (1):war exploded" />
    </root>
  </artifact>
</component>